.thread-focused{
    border: var(--acent-color) solid 5px;
    margin: -5px;
}
.thread-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    background: var(--bg);
    padding: 16px;
    gap: 5px;
    overflow: hidden;
    @media (max-width: 500px) {
        h1{
            font-size: 1em;
        }
        p{
            font-size: 0.7em;
        }
    }
}
.thread-container:hover{
    background: var(--acent-bg);
}
.thread-container *{
    margin: 0;
}
.thread{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 100%;
    gap: 5px;
    flex-grow: 1;
}
.tags{
    align-self: stretch;
    flex-grow: 1;
}
.thread-title{
    color: var(--acent-text);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.thread-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}