@font-face {
    font-family: Jost;
    src: url('Jost-VariableFont_wght.ttf');
    font-style: normal;
}
@font-face {
    font-family: Jost;
    src: url('Jost-Italic-VariableFont_wght.ttf');
    font-style: italic;
}